:root {
    --background-change: black;
    --background-color: white;
    --button-animation-duration: 700ms;
    --background-change-duration: 1000ms;
}
body {
    margin: 0;
    font-family: monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
$paddingSize: 10px;
$fontSize: 20px;
$pColor: black;
.bound-animation {
    animation: bound;
    animation-duration: var(--button-animation-duration);
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
button { 
    color: $pColor;
    display: inline-block;
    border: 0px;
    font-size: $fontSize;
    border: 5px solid $pColor;
    border-radius: 15px;
    position: relative;
    background-color: transparent;
    padding: $paddingSize;
}
@keyframes bound {
    50% {
        padding: calc($paddingSize - 2px);
        font-size: calc($fontSize - 5px);
    }
}
div#backgroundChange {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -999;
    background-color: var(--background-color);
}
div.backgroundChange {
    animation: changeColor;
    animation-timing-function: linear;
    animation-duration: var(--background-change-duration);
    animation-iteration-count: 1;
}
@keyframes changeColor {
    100% {
        background-color: var(--background-change);
    }
}
